# Git
.git
.gitignore
.gitattributes

# Docker
docker-compose.yml
Dockerfile
.docker
.dockerignore

# vscode
.vscode/

# Byte-compiled / optimized / DLL files
**/__pycache__/
**/*.py[cod]

# DB folders
data/
face-groups/
mongo-data/
qdrant-data/