fastapi[all]
pillow
pillow-heif
einops
pycocoevalcap
cryptography==38.0.4
motor
pymongo
pyyaml
networkx
omegaconf
timm
decord
opencv-python==4.9.0.80
webdataset
jupyterlab
torchvision
tensorflow
gdown
spacy
insightface
onnxruntime
uvicorn
flwr
salesforce-lavis
qdrant-client
apscheduler
kafka-python
pytest